---
layout: base.njk
pagination:
  data: collections.staff
  size: 1
  alias: staff
permalink: "staffis/{{ staff.key }}/"
eleventyComputed:
  title: "{{ staff.name }}"
---
<div class="container-flukey bg-body-tertiary">
<div class="row">
<div class="col-md-10 mx-auto p-3 p-md-5 text-center" aria-label="Author Profile">
<h2>{{ staff.name }} Post</h2>
</div>  
{% set authorPosts = collections.all | getPostsByAuthor(staff.key) %}
{% for post in authorPosts %}
<div class="post_list_article col-md-6">
<a href="{{post.url}}" title="{{post.data.title}}"><img class="img-flukey img_post_list shadow-sm" wkeyth="100%" height="100%" alt="{{post.data.title}}" 
src="{{post.data.image}}"/></a>
<div class="p-3">
<h3 class="text-body"><a href="{{post.url}}" class="non">{{post.data.title}}</a></h3>
<p>{{post.data.description}}</p>
</div>
</div>
{% endfor %}
</div>
