---
layout: base
pagination:
  data: staff.user
  size: 1
  alias: staffMember
permalink: "staff/{{ staffMember.key }}/"
eleventyComputed:
  title: "{{ staffMember.name }}"
---
<div class="container-fluid bg-body-tertiary">
<div class="row">
<div class="col-md-10 mx-auto p-3 p-md-5 text-center" aria-label="Author Profile">

<h1>{{ staffMember.name }}</h1>
<p>{{ staffMember.bio }}</p>

<h2>Posts by {{ staffMember.name }}</h2>

{{ "Debug: Staff Member" | log }}
{{ staffMember | dump | log }}

{{ "Debug: Staff Member Key" | log }}
{{ staffMember.key | log }}

{% set authorPosts = collections.all | getPostsByStaff(staffMember.key) %}

{{ "Debug: Author Posts" | log }}
{{ authorPosts | dump | log }}

{% if authorPosts.length > 0 %}
  <div class="row">
  {% for post in authorPosts %}
    <div class="post_list_article col-md-6 mb-4">
      <a href="{{ post.url }}" title="{{ post.data.title }}">
        <img class="img-fluid img_post_list shadow-sm" width="100%" height="auto" 
             alt="{{ post.data.title }}" src="{{ post.data.image | default('/path/to/default-image.jpg') }}"/>
      </a>
      <div class="p-3">
        <h3 class="text-body"><a href="{{ post.url }}" class="non">{{ post.data.title }}</a></h3>
        <p>{{ post.data.description }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
{% else %}
  <p>No posts found for this staff member.</p>
{% endif %}

</div>
</div>
</div>

