<h1>Tags</h1>

<div class="row">
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<div class="col-md-4 p-3"><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></div>
{% endfor %}
</div>
