---
layout: base.njk
---
<header class="container-fluid bb">
<div class="row">
<div class="col-md-11 p-3 p-md-5 mt-3 position-relative">
  <div class="header-content mt-5 mb-5">
    <p class="sub_hero mt-5">
     {{metadata.title}}
    </p>
    <h1 class="hero_text">
    <a href="{{metadata.url}}" class="text-white">{{title}}</a>
    </h1>
  </div>
</div>
</div>
</header>

<section class="container-fluid trucks lazy-background" data-bg="{{metadata.news.background}}">
<div class="row mt-5 mb-5">
<div class="col-md-7 p-3 p-md-5">
<img class="img-fluid shadow-sm mb-3" alt="{{title}}" width="100%" height="100%" src="{{image or metadata.image}}"/>
</div>


<div class="col-md-5 p-3 p-md-5">
<h2>{{ description or title }}</h2>
{{ content | safe }}

<div class="a2a_kit a2a_kit_size_32 a2a_default_style mt-5" 
data-a2a-url="{{metadata.url}}{{page.url}}" data-a2a-title="{{title}}">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_whatsapp"></a>
    <a class="a2a_button_mastodon"></a>
    <a class="a2a_button_x"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<script defer src="https://static.addtoany.com/menu/page.js"></script>

</div>


{%- if collections.ford1950 %}
{%- set previousPost = collections.ford1950 | getPreviousCollectionItem %}
{%- set nextPost = collections.ford1950 | getNextCollectionItem %}
{%- if nextPost or previousPost %}
{%- if previousPost %}
<section class="container-fluid">
<div class="row mt-5 mb-5">
<a href="{{ previousPost.url }}" class="col-md-6 br shadow lazy-background" data-bg="{{ previousPost.data.image or metadata.image }}"></a>
<div class="col-md-6 p-3 p-md-5">
<h3 class="promo_text mb-3 text-descs"><a href="{{ previousPost.url }}">
{{ previousPost.data.title }}
</a></h3>
<p><a href="{{ previousPost.url }}">
← Previous
</a></p>
</div>
</div>
</section>
{% endif %}

{%- if nextPost %}
<section class="container-fluid">
<div class="row mt-5 mb-5">
<div class="col-md-6 p-3 p-md-5">
<h3 class="promo_text mb-3  text-descs"><a href="{{ nextPost.url }}">
{{ nextPost.data.title }}
</a></h3>
<p><a href="{{ nextPost.url }}">
Next →
</a></p>
</div>
<a href="{{ nextPost.url }}" class="col-md-6 bl shadow lazy-background" data-bg="{{ nextPost.data.image or metadata.image }}"></a>
</div>
</section>
{% endif %}
{%- endif %}
{%- endif %}

</div>
</section>

{% include "partials/motors.njk" %}
{% if show_post %}
<section class="container-fluid">
<div class="row text-center">
<h3 class="p-3 p-md-5 col-md-12">{{metadata.motors.ford1950}}</h3>
{% for s in collections.ford1950 |reverse %}
<div class="col-md-4 p-3 p-md-5">
{% if s.data.image %}<a href="{{s.url}}"><img class="img-fluid lazy mb-3" alt="{{s.data.title}}" width="100%" height="100%" data-src="{{s.data.image or metadata.image}}"></a>{% endif %}
<h3><a href="{{s.url}}" class="text-dark">{{s.data.title}}</a></h3>
</div>
{% endfor %}
</div>
</section>
{% endif %}
{% include "partials/event_article.njk" %}
{% include "partials/ford_store.njk" %}
{% include "partials/patner.njk" %}
{% include "partials/nearby.njk" %}
