---
layout: base.njk
---
<header class="container-fluid bb">
<div class="row">
<div class="col-md-11 p-3 p-md-5 mt-3 position-relative mt-5 mb-3">
  <div class="header-content">
    <p class="sub_hero">{{metadata.title}}</p>
    <h1 class="hero_text"><a href="{{page.url}}" class="text-white">{{title}}</a></h1>
    <p class="lead">{{description}}</p>
  </div>
</div>
</div>
</header>

<section class="container-fluid trucks lazy-background" data-bg="{{metadata.news.background}}">
<div class="row mt-5 mb-5">

<div class="col-md-6 p-3 p-md-5">

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{metadata.url}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<h3 class="promo_text mb-5">{{title}}</h3>
<heading-anchors>{{content|safe}}</heading-anchors>
</div>
<div class="col-md-6 bl shadow lazy-background" data-bg="{{image}}"></div>
</div>
</section>

{% include "partials/patner_master.njk" %}
{% include "partials/motors.njk" %}
{% include "partials/event_n_article.njk" %}
{% include "partials/ford_store.njk" %}
{% include "partials/patner.njk" %}
{% include "partials/nearby.njk" %}

