---
layout: base.njk
---
<header class="container-fluid bb">
<div class="row">
<div class="col-md-11 p-3 p-md-5 mt-3 position-relative">
  <div class="header-content">
    <p class="sub_hero mt-5">
     {{metadata.title}}
    </p>
    <h1 class="hero_text">
    <a href="{{metadata.url}}" class="text-white">{{title}}</a>
    </h1>
  </div>
</div>
</div>
</header>

<section class="container-fluid trucks lazy-background" data-bg="{{metadata.news.background}}">
<div class="row mt-5 mb-5">

<div class="col-md-10 mx-auto p-3 p-md-5">

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{metadata.url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{metadata.url}}/education/">Education</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<h3 class="promo_text">{{description}}</h3>

<p class="text-dark"><small><i class="fas fa-calendar me-1"></i> <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>

<img class="img-fluid shadow-sm mt-3 mb-5" alt="{{title}}" src="{{image or metadata.image}}"/>
<article class="article">{{content|safe}}</article>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style mt-5" 
data-a2a-url="{{metadata.url}}/{{page.url}}" data-a2a-title="{{title}}">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_whatsapp"></a>
    <a class="a2a_button_mastodon"></a>
    <a class="a2a_button_x"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<script defer src="https://static.addtoany.com/menu/page.js"></script>

</div>

</div>
</section>

{%- if collections.educations %}
{%- set previousPost = collections.educations | getPreviousCollectionItem %}
{%- set nextPost = collections.educations | getNextCollectionItem %}
{%- if nextPost or previousPost %}
{%- if previousPost %}
<section class="container-fluid">
<div class="row mt-5 mb-5">
<a href="{{ previousPost.url }}" class="col-md-6 br shadow lazy-background" data-bg="{{ previousPost.data.image or metadata.image }}"></a>
<div class="col-md-6 p-3 p-md-5">
<h3 class="promo_text mb-3 text-descs"><a href="{{ previousPost.url }}">
{{ previousPost.data.title }}
</a></h3>
<p><a href="{{ previousPost.url }}">
← Previous Article
</a></p>
</div>
</div>
</section>
{% endif %}

{%- if nextPost %}
<section class="container-fluid">
<div class="row mt-5 mb-5">
<div class="col-md-6 p-3 p-md-5">
<h3 class="promo_text mb-3  text-descs"><a href="{{ nextPost.url }}">
{{ nextPost.data.title }}
</a></h3>
<p><a href="{{ nextPost.url }}">
Next Article →
</a></p>
</div>
<a href="{{ nextPost.url }}" class="col-md-6 bl shadow lazy-background" data-bg="{{ nextPost.data.image or metadata.image }}"></a>
</div>
</section>
{% endif %}
{%- endif %}
{%- endif %}

{% include "partials/event_article.njk" %}
{% include "partials/ford_store.njk" %}
{% include "partials/patner.njk" %}
{% include "partials/nearby.njk" %}
