<section class="container-fluid">
<div class="row mt-5 mb-5">
<div class="col-md-6 br shadow lazy-background" data-bg="{{metadata.collections.bakcground or metadata.image}}"></div>
<div class="col-md-6 p-3 p-md-5">
<h3 class="promo_text mb-3"><a href="{{metadata.url}}">{{metadata.collections.title}}</a></h3>
<p>{{metadata.collections.text}}</p>
<p><a href="{{metadata.collections.url}}" class="btn btn-primary">{{metadata.collections.button}}</a></p>
</div>
</div>
</section>
