<section class="container-fluid mt-5 mb-5">
<div class="row">

<div class="col-md-6 p-3 p-md-5">
<h2 class="mb-4">{{metadata.event.title}} <a href="{{metadata.event.url}}" class="float-end btn btn-primary">{{metadata.event.button}}</a></h2>
{% for e in collections.events |reverse | limit (2) %}
<div class="p-3">
<a href="{{e.url}}" class="bg-light rounder shadow-sm opacity-95 row zoom text-dark non">
<div class="col-md-5 lazy-background blr" data-bg="{{e.data.image or metadata.image}}"></div>
<div class="col-md-7 col-12 p-3">
<div class="ms-3 non">
<h3 class="text-descs">{{e.data.title}}</h3>
<p><small>{% if e.data.start_date %}Start: {{e.data.start_date| readableDate}}<br/>
End : {{e.data.end_date| readableDate }}<br/>{% endif %}
Venue Location : 
<br/>{{e.data.venue}}
</small></p>
</div>
</div>
</a>
</div>
{% endfor %}
</div>

<div class="col-md-6 p-3 p-md-5">
<h2 class="mb-4">{{metadata.news.title}} <a href="{{metadata.news.url}}" class="float-end btn btn-primary non">{{metadata.news.button}}</a></h2>
<div class="row">
{% for post in collections.news | reverse | limit(3)%}
<div class="p-3 col-md-12">
<a href="{{post.url}}" class="bg-light rounder shadow-sm opacity-95 row zoom non">
<div class="col-md-7 p-3">
<div class="me-3">
<h3 class="text-descs">{{post.data.title}}</h3>
<p class="text-dark"><small><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small></p>
</div>
</div>
<div class="col-md-5 lazy-background brr" data-bg="{{post.data.image or metadata.image}}"></div>
</a>
</div>
{% endfor %}
</div>
</div>

</div>
</section>
