<footer class="container-fluid blues bor">
<div class="row text-center">
<div class="col-md-12 p-3 p-md-5">
<img class="lazy img-fluid rounder mb-3 img-logo-footer" data-src="{{metadata.footer.logo}}" alt="{{footer.title}}">
<div class="row">
{% for f in metadata.footer.item %}<a href="{{f.url}}" class="text-white footer-link col-md-2 col-4 p-3">{{f.nav}}</a>{% endfor %}
<p class="col-md-12 p-3 mt-3 footer-link ">
{% for address in metadata.footer.address %}{{address.text}}{% endfor %}<br/>
{{metadata.footer.phone.text}}: {{metadata.footer.phone.number}} | <a href="{{metadata.footer.email.url}}" class="text-white">{{metadata.footer.email.text}}</a>
</p>
<p>
{% for media in metadata.footer.social %}<a href="{{media.url}}" title="{{media.title}}" class="btn btn-outline-light btn-sm me-3">
<i class="{{media.icon}}"></i>
</a>{% endfor %}
</p>
</div>
</div>
<p class="text-center copy">{{metadata.copyrights.text1}} <a href="{{metadata.copyrights.text2_url}}" class="text-white">{{metadata.copyrights.text2}}</a></p>
</div>
</footer>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content lit rounder">
      <div class="modal-header blues">
        <h1 class="modal-title fs-5" id="searchModalLabel">{{metadata.search}}</h1>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {% include "partials/search.njk" %}
      </div>
    </div>
  </div>
</div>

<script src="/js/ford.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/bs.js"></script>
