---
layout: base.njk
---
{% include "partials/header.njk" %}

<div class="container mb-5 mt-5">

<div class="row justify-content-center text-center">

<div class="col-md-4 p-3 zoom">
<a href="{{f1930.url}}" title="{{f1930.title}}">
<img class="lazy img-fluid img-ev" data-src="{{f1930.image}}"/>
</a>
<div class="p-3">
<h3><a class="text-dark" href="{{f1930.url}}" title="{{f1930.title}}">{{f1930.title}}</a></h3>
</div>
</div>


<div class="col-md-4 p-3 zoom">
<a href="{{f1940.url}}" title="{{f1940.title}}">
<img class="lazy img-fluid img-ev" data-src="{{f1940.image}}"/>
</a>
<div class="p-3">
<h3><a class="text-dark" href="{{f1940.url}}" title="{{f1940.title}}">{{f1940.title}}</a></h3>
</div>
</div>

<div class="col-md-4 p-3 zoom">
<a href="{{f1950.url}}" title="{{f1950.title}}">
<img class="lazy img-fluid img-ev" data-src="{{f1950.image}}"/>
</a>
<div class="p-3">
<h3><a class="text-dark" href="{{f1950.url}}" title="{{f1950.title}}">{{f1950.title}}</a></h3>
</div>
</div>

<div class="col-md-4 p-3 zoom">
<a href="{{v8.url}}" title="{{v8.title}}">
<img class="lazy img-fluid img-ev" data-src="{{v8.image}}"/>
</a>
<div class="p-3">
<h3><a class="text-dark" href="{{v8.url}}" title="{{v8.title}}">{{v8.title}}</a></h3>
</div>
</div>

<div class="col-md-4 p-3 zoom">
<a href="{{all.url}}" title="{{all.title}}">
<img class="lazy img-fluid img-ev" data-src="{{all.image}}"/>
</a>
<div class="p-3">
<h3><a class="text-dark" href="{{all.url}}" title="{{all.title}}">{{all.title}}</a></h3>
</div>
</div>

</div>
</div>

