---
layout: base.njk
---
{% include "partials/header.njk" %}
<section class="container-fluid">
<div class="row justify-content-center">
<h2 class="p-3 p-md-5">{{description or metadata.description}}</h2>
{% for post in pagination.items %}
<div class="p-3 p-md-5 col-md-4">
<a href="{{post.url}}" class="bg-light rounder shadow-sm opacity-95 row zoom non">
<img class="img-fluid lazy img-ev" alt="{{post.data.title}}" data-src="{{post.data.image or metadata.image}}"/>
<div class="p-3">
<h3 class="text-desc">{{post.data.title}}</h3>
<p class="text-dark small"><small>
{% if post.data.start_date %}<i class="fas fa-calendar-day me-1"></i> Start: <time datetime="{{ post.data.start_date | htmlDateString }}">{{ post.data.start_date | readableDate }}</time><br/>{% endif %}
{% if post.data.end_date %}<i class="fas fa-calendar-check me-1"></i> End: <time datetime="{{ post.data.end_date | htmlDateString }}">{{ post.data.end_date | readableDate }}</time><br/>{% endif %}
{% if post.data.time %}<i class="fas fa-clock me-1"></i>  Time: {{post.data.time}}<br/>{% endif %}
{% if post.data.venue %}<i class="fas fa-location-dot me-1"></i> Venue: {{post.data.venue}}
</small></p>{% endif %}
<p class="text-secondary text-desc">{{post.data.description}}</p>
</div>
</a>
</div>
{% endfor %}
<div class="row p-3 mt-3 mb-3">
<div class="col-md-6 p-3">
{% if pagination.href.previous %}<a class="btn btn-primary text-uppercase col-12 p-3" href="{{ pagination.href.previous }}">← Previous</a>{% endif %}
</div>
<div class="col-md-6 p-3 text-end">
{% if pagination.href.next %}<a class="btn btn-primary text-uppercase col-12 p-3" href="{{ pagination.href.next }}">Next →</a>{% endif %}
</div>
</div>
</div>
</section>
{% include "partials/ford_store.njk" %}
{% include "partials/patner.njk" %}
{% include "partials/nearby.njk" %}
