---
layout: base.njk
---
{% include "partials/header.njk" %}
{% include "design/gallery/article.njk" %}
{% include "design/gallery/image_detail.njk" %}
{% include "design/gallery/style.njk" %}
{% include "design/gallery/script.njk" %}
